@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}










body{
    background-color: rgb(26, 26, 26);
}

.Brand-name{
    font-size: 36px;
    font-weight: 900;
    color: #E6533C;

}

/* SHARED STYYYYLES */
.display-flex{
    display: flex;
}

/* NOT SO HEADER STYLES */


/* NOT SO NAVBAR STYLES */
.Navbar{
    display: flex;
}

.NAV-buttons{
    display: flex;
}

.nav-item{
    list-style: none;
    margin-right: 38px;
}


.nav-button{
    font-weight: 500;
    color: white;
    background-color: rgb(28, 28, 28);
    border: 1px solid rgb(43, 43, 43);
    border-radius: 46px;
    padding: 5px 13px;
    
}

.Home{
    background-color: #E6533C;
}
.Navbar{
    justify-content: space-between;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 60px;
}


.Title{
    color: white;
    font-size: 72px;
}
.Shape{
    color: rgb(218, 222, 234);
}

.description{
    color: white;
    font-size: 16px;
    font-weight: 400;
    opacity: 50%;
    margin-top: 30px;

}
.Title-section{
    margin-left: 190px;
   
}
.Btn-1{
    background-color: #E6533C;
    color: white;
    border-radius: 46px;
    padding: 16px 45px;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}
.Btn-2{
    color: white;
    border-radius: 46px;
    padding: 16px 45px;
    font-weight: 600;
    font-size: 18px;
    background-color: rgb(26, 26, 26);
    border: white 1.7px solid;
}

.Biggest-dad{
    display: flex;
}

.Image-bhai{
    margin-left: 90px;
    margin-right: 214px;
}
.Image-111{
    width: 100%;
    width: 350px;
    height: 580px;
}

#Badge{
    padding: 20px 38px;
    border-radius: 12px;
    background-color: #5b5b5f;
    color: white;
   transform: translateY(-370px) translateX(-110px) ;
    
}

#BADGE{
    padding: 20px 38px;
    border-radius: 12px;
    background-color: #84848b;
    color: white; 
    transform: translateY(-84px) translateX(-60px);

}
#Badge-1{
    font-size: 40px;
    font-weight: 700;
}

.bug{
    border-top: 200px;
}



                          /* OTHER PART OF OUR COUNTRY */

.Title-sup{
    margin-left: 560px;
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.para{
    margin-left: 450px;
    align-items: center;
    color: rgb(255, 255, 255);
}

.HR{
    color: white;
    text-align: center;
    font-size: 12px;
    opacity: 50%;
}


.IMGG{
    border-radius: 50%;
    margin-right: 130px;
    width: 80%;
    height: 70%;
    margin-left: 32px;
    
}

.THE-UL{
    display: flex;
    
}

/* .MME{
    margin-left: 190px
} */



.THE-UL h3{
    color: white;
    text-align: center;
}



/* ANOTHER ONE GUYS */


/* .ANOTHER-ONE{
    border: 0.001px solid rgb(154, 64, 64); */
    /* background-color: #2c2c2c; */
    /* padding: 12px;
    display: flex;
} */
 .ANOTHER-ONE{
    margin: 40px 340px 40px 250px;
 }
.another-two{
    border: 0.001px solid;
    background-color: #2c2c2c;
    padding: 12px;
    display: flex;
    border-radius: 18px;
}

.run{
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin-left: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
  
}

.YOU-nice{
    color: white;
    padding-left: 75px;
    opacity: 50%;
    font-size: 14px;
}
.Join{
    border-radius: 42px;
    background-color: #E6533C;
    padding: 16px 40px;
    margin-left: 75px;
    margin-top: 12px;
}

#RUN{
    width: 375px;
    height: 300px;
    border-radius: 18px;
    margin-top: 20px;
    margin-left: 165px;
}




/* hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */


.Cont-us{
    border: #3d3d3d solid 4px;
    width: 400px;
    height: 500px;
    margin-top: 20px;
    margin-left: 390px;
    margin-bottom: 20px;
    margin-right: 8px;
    color: aliceblue;
    padding-left: 12%;
    background-color: rgb(50, 50, 50);
    

}

.ULA li{
    color: rgb(255, 255, 255);
    opacity: 50%;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    list-style: none;
    padding-right: 18px;
   
   
}
.ULA{
    padding-top: 32px;
    padding-right: 15px;
    border: #3d3d3d 4px solid;
    width: 200px;
    background-color: rgb(50, 50, 50);
    transform: translateX(-420px) translateY(5px);
}

.dimdim{
    display: flex;
}

#CONNN{
    width: 95%;
    transform: translateX(-440px) translateY(150px);
}


/* hhhhhHHHHHHHHHHHHHHHHHHHHHHHHhhhhhh */

.THTH{
    margin-left: 385px;
    color: white;
    font-weight: 800;
    font-size: 48px;
}

.thth{
    margin-left: 385px;
    color: white;
    font-size: 14px;
    opacity: 50%;
  
}

.ThTh{
    margin-top: 90px;
    margin-right: 385px;
}

.ROMBUS{
    background-color: #222222;
    display: flex;
}

.bmi-div{
    width: 300px;
    height: 498px;
}
.BMI-THING{
    text-align: center;
    color: white;
    margin-top: 50px;
}


.CALCULATE{
    margin-left: 500px;
    color: white;
    margin-top: 30px;
}

td, th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    opacity: 50%;
    
}
.oio {
    padding: 15px 111px 15px 18px;
}

.iii{
    padding: 15px 22px;
}

table{
    border-collapse: collapse;
    margin-left: 190px;
}
td{
    color: white ;
    opacity: 50%;
    font-size: 14px;
    padding: 13px 20px 13px 20px;
}

.BMI-THING{
    margin-left: 157px;
    width: 100%;
    margin-bottom: 52px;
}



.comp{
    color: white;
    opacity: 50%;
    font-size: 14px;
}

.GRID-ME{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 35px;
    
   
}

.MAMMAM{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 13px 120px 13px 20px;
    margin: 12px 12px;
    color: white;
    opacity: 60%;
   
} 

.TLTL{
    width: 193%;

}
.clac{
    border-radius: 42px;
    background-color: #E6533C;
    padding: 16px 70px;
    color: white;
    transform: translateX(-320px) translateY(90px);
}

/* pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp */


.THE-TITLEEE{
    margin-left: 540px;
    font-size: 48px;
    font-weight: 700;
    color: white;
    margin-top: 90px;
}


.pumpum{
    margin-left: 385px;
    color: rgba(255, 255, 255, 0.5);
}

.ACCESS{
    margin-left: 280px;
}
.NUH-UH img{
    border-radius: 18px;
    width: 70%;
    /* margin: 58px 90px 88px 90px; */
    
}

.NUH-UH{
    border-radius: 18px;
    /* display: flex; */
    margin: 58px 90px 88px 90px;
   
}
.POCHA, .DUSHTU{
    width: 100%;
    height: 100%;
}
.PAJI{
    width: 100%;
    height: 85%;
}
.UNBHALO{
    width: 100%;
    height: 90%;
}


.GUMMYBEAR{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


.ggss{
    color: white;
    transform: translateY(-430px) translateX(10px);
}
.ssgg{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.ggssq{              
    color: white;
    transform: translateY(-430px) translateX(22px);
}

.ggssw{
    color: white;
    transform: translateY(-430px) translateX(34px);
}

.ggsse{
    color: white;
    transform: translateY(-160px) translateX(10px);
}

.ggssr{
    color: white;
    transform: translateY(-160px) translateX(22px);
}
.ggsst{
    color: white;
    transform: translateY(-160px) translateX(34px);
}


/* FOOTER!!!!!!! */

.FOOTERRR{
    background-color: rgba(45, 45, 46, 0.1);
    color: white;
    display: flex;
}

.LAST-THINGS{
    margin: 66px 102px 73px 190px;
}

.descriptyy{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    transform: translateY(-40px);
}
.FITNESS-BROTHAA{
    padding-top: 50px;
    transform: translateY(-40px);
}

.THIS-IS-THE-WAY{
    display: flex;
}


.info{
    margin-top: 66px;
    margin-left: 102px;
}

.INFOO{
    margin-top: 66px;
    margin-left: 132px; 
}


footer ul li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    transform: translateX(-37px);
    font-weight: 400;
}

.GGH, .GGJ{
    font-weight: bold;
    font-size: 32px;
}



@media screen and (max-width=576px) {
    header{
        margin-left: 10px;
        padding-left: 10px;
    }
    body{
        background-color: green;
    }
    
    .THE-UL{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .para{
        margin-left: 20px;
    }
    header{
        width: 100%;
    }
    
}






























































